<div class="terms-check-wrapper">
  <div *ngIf="isReadOnly;else other_content">
    <div [ngClass]="rtlCheckboxClasses()" class="checkbox">
      <input id="{{checkboxId}}{{randomID}}" type="checkbox" [checked]="readOnlyChecked()" onclick="return false;">
      <label for="{{checkboxId}}{{randomID}}" class="checkboxInput"></label>
      <label for="{{checkboxId}}{{randomID}}" *ngIf="hasLabel">{{labelTextReadMode}}</label>
    </div>
  </div>

  <ng-template #other_content>
    <div [ngClass]="rtlCheckboxClasses()" class="checkbox">
      <input id="{{checkboxId}}{{randomID}}" type="checkbox" *ngIf="!disabled" name="{{name}}" (change)="toggle($event)"
        [required]="required" [checked]="readOnlyChecked()">
      <input id="{{checkboxId}}{{randomID}}" type="checkbox" *ngIf="disabled" name="{{name}}" [required]="required"
        [checked]="readOnlyChecked()" disabled>
      <label for="{{checkboxId}}{{randomID}}" class="checkboxInput"></label>
      <label for="{{checkboxId}}{{randomID}}" *ngIf="hasLabel">
        {{labelTextWriteMode}}
      </label>
      <a class="cursor" *ngIf="terms" (click)="openPopUp('termsAndConditions')" data-toggle="modal"
        data-target="#exampleModal">{{i18n.translate('termsAndConditions')}}</a>
    </div>
  </ng-template>
</div>


<div class="row">
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header d-flex justify-content-between align-items-center">
          <div>
            <h4 class="center modal-title orgchart"> {{i18n.translate('termsAndConditions')}}</h4>
          </div>

          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">
              <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 35 35">
                <g id="Group_16490" data-name="Group 16490" transform="translate(-724.833 -20)">
                  <rect id="Rectangle_2209" data-name="Rectangle 2209" width="35" height="35"
                    transform="translate(724.833 20)" fill="#f3f3f1" />
                  <path id="Icon_ionic-ios-close" data-name="Icon ionic-ios-close"
                    d="M21.179,19.285l5.713-5.713A1.339,1.339,0,0,0,25,11.678l-5.713,5.713-5.713-5.713a1.339,1.339,0,1,0-1.893,1.893l5.713,5.713L11.679,25a1.339,1.339,0,0,0,1.893,1.893l5.713-5.713L25,26.892A1.339,1.339,0,1,0,26.892,25Z"
                    transform="translate(723.496 18.711)" />
                </g>
              </svg>
            </span>
          </button>

        </div>
        <div class="modal-body">
          <app-popup-details [section]="null" [lov]="null"></app-popup-details>
        </div>
      </div>
    </div>
  </div>
</div>
