<mat-expansion-panel [expanded]="false" [disabled]="section.body.details.source =='HRMS' || isReadOnly"
  (opened)="getSegmentDetails(section?.body?.details?.previousExperienceSegment?.name, true);previousExperienceChange(true)"
  class="margTop">
  <mat-expansion-panel-header>
    <mat-panel-title>

      <div class="d-flex align-items-center">
        <span>
          {{i18n.translate('previousExperience')}}
        </span>
        <span class="mx-4">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16.826"
            height="16.826" viewBox="0 0 16.826 16.826">
            <defs>
              <clipPath id="clip-path">
                <path id="Path_9532" data-name="Path 9532"
                  d="M267.413-231a8.413,8.413,0,0,1,8.413,8.413,8.411,8.411,0,0,1-4.506,7.453h0l-.652-1.241a7.009,7.009,0,0,0,3.756-6.211,7.011,7.011,0,0,0-7.011-7.011,7.011,7.011,0,0,0-7.011,7.011,7.012,7.012,0,0,0,6.31,6.976h0v-5.574h1.4v7.011h-.7A8.413,8.413,0,0,1,259-222.587,8.413,8.413,0,0,1,267.413-231Zm1.052,5.609v2.1h-2.1v-2.1Z"
                  fill="#fff" clip-rule="evenodd" />
              </clipPath>
              <clipPath id="clip-path-2">
                <path id="Path_9531" data-name="Path 9531" d="M259-214.174h16.826V-231H259Z"
                  transform="translate(-259 231)" fill="#000" />
              </clipPath>
            </defs>
            <g id="Group_10531" data-name="Group 10531" transform="translate(-259 231)" clip-path="url(#clip-path)">
              <g id="Group_10530" data-name="Group 10530" transform="translate(259 -231)" clip-path="url(#clip-path-2)">
                <path id="Path_9530" data-name="Path 9530" d="M254-236h20.833v20.833H254Z"
                  transform="translate(-256.003 233.997)" fill="#000" />
              </g>
            </g>
          </svg>
        </span>
      </div>

    </mat-panel-title>
  </mat-expansion-panel-header>

  <div *ngIf="section?.body?.details?.previousExperienceSegment && section?.body?.details?.previousExperienceSegment?.previousExperience &&
     section?.body?.details?.previousExperienceSegment?.previousExperience?.length >= 0">
    <mat-card class="example-card"
      *ngFor="let previousExperience of getFilteredList (section?.body?.details?.previousExperienceSegment?.previousExperience); let i=index">
      <mat-card-header class="custom-card-head">
        <div class="d-flex justify-content-between align-items-center w-100">
          <div class="">
          <label for="">
            {{previousExperience.jobTitle}} {{previousExperience.startDate | date :'dd/MM/yyyy'}}
            - {{previousExperience.endDate | date :'dd/MM/yyyy'}}
          </label>
          </div>
          <div class="">
            <button *ngIf="!isReadOnly " (click)="edit('editpreviousExperience'  , i , previousExperience)"
              data-toggle="modal" data-target="#previousExperience" data-backdrop="static" data-keyboard="false"
              class="reset-button">
              <svg xmlns="http://www.w3.org/2000/svg" width="79" height="34" viewBox="0 0 79 34">
                <g id="Group_15961" data-name="Group 15961" transform="translate(-1048 -250)">
                  <rect id="Rectangle_2812" data-name="Rectangle 2812" width="79" height="34"
                    transform="translate(1048 250)" fill="#1cced8" opacity="0.2" />
                  <g id="Group_15944" data-name="Group 15944" transform="translate(-1)">
                    <path id="Path_9540" data-name="Path 9540"
                      d="M17.745,6.987,15.3,4.542a1.785,1.785,0,0,0-2.374-.062L4.892,12.512a1.785,1.785,0,0,0-.509,1.08L4,17.315a.89.89,0,0,0,.893.973h.08l3.722-.339a1.785,1.785,0,0,0,1.08-.509l8.033-8.033a1.714,1.714,0,0,0-.062-2.419ZM8.534,16.163l-2.678.25L6.1,13.735,11.14,8.755l2.41,2.41ZM14.71,9.969,12.318,7.577l1.741-1.785L16.5,8.228Z"
                      transform="translate(1059.004 255.941)" fill="#1cced8" />
                    <text id="Edit" transform="translate(1086 273)" fill="#1cced8" font-size="14"
                      font-family="STCForward-Medium, STC Forward" font-weight="500">
                      <tspan x="0" y="0">Edit</tspan>
                    </text>
                  </g>
                </g>
              </svg>
            </button>
            <button *ngIf="!isReadOnly"
              (click)="deleteGenericRow('previousExperienceSegment', 'previousExperience'  , i)" class="reset-button">
              <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34">
                <g id="Group_15962" data-name="Group 15962" transform="translate(-1116 -1045)">
                  <rect id="Rectangle_2813" data-name="Rectangle 2813" width="34" height="34"
                    transform="translate(1116 1045)" fill="#ff375e" opacity="0.2" />
                  <g id="Group_10788" data-name="Group 10788" transform="translate(1126.983 1054.643)">
                    <path id="Path_9541" data-name="Path 9541"
                      d="M12.955,17.608H7.1a1.653,1.653,0,0,1-1.65-1.494L4.5,6.608A.552.552,0,0,1,5.053,6H15a.553.553,0,0,1,.55.608L14.6,16.114a1.653,1.653,0,0,1-1.65,1.494ZM5.663,7.106,6.551,16a.552.552,0,0,0,.55.5h5.854a.552.552,0,0,0,.55-.5l.888-8.9Z"
                      transform="translate(-3.118 -3.789)" fill="#ff375e" />
                    <path id="Path_9542" data-name="Path 9542"
                      d="M15.267,7.106H2.553A.553.553,0,0,1,2.553,6H15.267a.553.553,0,0,1,0,1.106Z"
                      transform="translate(-2 -3.789)" fill="#ff375e" />
                    <path id="Path_9543" data-name="Path 9543"
                      d="M14.053,17.186a.553.553,0,0,1-.553-.553V10.553a.553.553,0,0,1,1.106,0v6.081A.553.553,0,0,1,14.053,17.186Z"
                      transform="translate(-7.143 -5.578)" fill="#ff375e" />
                    <path id="Path_9544" data-name="Path 9544"
                      d="M10.1,17.186a.553.553,0,0,1-.55-.5L9,10.6a.553.553,0,1,1,1.1-.1l.553,6.081a.553.553,0,0,1-.551.6Z"
                      transform="translate(-5.13 -5.578)" fill="#ff375e" />
                    <path id="Path_9545" data-name="Path 9545"
                      d="M17.553,17.187a.553.553,0,0,1-.551-.6l.553-6.081a.553.553,0,1,1,1.1.1L18.1,16.684A.553.553,0,0,1,17.553,17.187Z"
                      transform="translate(-8.708 -5.578)" fill="#ff375e" />
                    <path id="Path_9546" data-name="Path 9546"
                      d="M14.528,5.317H9.553A.553.553,0,0,1,9,4.764V2.553A.553.553,0,0,1,9.553,2h4.975a.553.553,0,0,1,.553.553V4.764A.553.553,0,0,1,14.528,5.317ZM10.106,4.211h3.869V3.106H10.106Z"
                      transform="translate(-5.131 -2)" fill="#ff375e" />
                  </g>
                </g>
              </svg>
            </button>
          </div>
        </div>
      </mat-card-header>
      <mat-card-content class="custom-card-content">
        <div class="row">
          <div class="col-3">
            <span class="custom-label">{{i18n.translate('country')}} :</span>

          </div>
          <div class="col-9">
            <span class="custom-details"> {{previousExperience?.country?.value}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <span class="custom-label"> {{i18n.translate('city')}} :</span>

          </div>
          <div class="col-9">
            <span class="custom-details"> {{previousExperience?.city}}</span>

          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <span class="custom-label"> {{i18n.translate('companyName')}} :</span>

          </div>
          <div class="col-9">
            <span class="custom-details">{{previousExperience?.companyName}}</span>

          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <span class="custom-label">{{i18n.translate('jobField')}} : </span>

          </div>
          <div class="col-9">
            <span class="custom-details"> {{previousExperience?.jobField?.value}} </span>

          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <span class="custom-label"> {{i18n.translate('companySector')}}:</span>

          </div>
          <div class="col-9">
            <span class="custom-details"> {{previousExperience?.companySector?.value}}</span>

          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <span class="custom-label"> {{i18n.translate('startDate')}}:</span>

          </div>
          <div class="col-9">
            <span class="custom-details"> {{previousExperience?.startDate | date :'dd/MM/yyyy'}} </span>

          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <span class="custom-label"> {{i18n.translate('endDate')}} :</span>

          </div>
          <div class="col-9">
            <span class="custom-details">{{previousExperience?.endDate | date :'dd/MM/yyyy'}}</span>

          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <span class="custom-label"> {{i18n.translate('duration')}}:</span>

          </div>
          <div class="col-9  d-flex p-2">
            <div class="col-3 d-flex align-items-center">
              <label class="custom-details mx-3">{{i18n.translate('periodYears')}}</label>
              <app-input-table [field]="previousExperience?.duration?.periodYears" [hasLabel]="false"
                name="periodYears{{i}}" [labelTextReadMode]="i18n.translate('periodYears')"
                [labelTextWriteMode]="i18n.translate('periodYears')" [hasColumnBreak]="false" [required]="true"
                [disabled]="true">
              </app-input-table>
            </div>
            <div class="col-3 d-flex align-items-center">
              <label class="custom-details mx-3">{{i18n.translate('periodMonths')}}</label>
              <app-input-table [field]="previousExperience?.duration?.periodMonths" [hasLabel]="false"
                name="periodMonths{{i}}" [labelTextReadMode]="i18n.translate('periodMonths')"
                [labelTextWriteMode]="i18n.translate('periodMonths')" [hasColumnBreak]="false" [required]="true"
                [disabled]="true">
              </app-input-table>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-3">
            <span class="custom-label"> {{i18n.translate('responsibilities')}} : </span>

          </div>
          <div class="col-9">
            <span class="custom-details"> {{previousExperience?.responsibilities}}</span>

          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <span class="custom-label"> {{i18n.translate('attachment')}}:</span>

          </div>
          <div class="col-9">
            <app-attachment [hasLabel]="true" [field]="previousExperience?.attachment" name="attachment"
              [hasColumnBreak]="true" [required]="true" [isReadOnly]="true">
            </app-attachment>

          </div>
        </div>
        <div class="row">

        </div>
        <div class="row">
          <div class="col-3">
            <span class="custom-label">{{i18n.translate('note')}}:
            </span>
          </div>
          <div class="col-9">
            <span class="custom-details">{{previousExperience?.note}}</span>


          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <span class="custom-label">{{i18n.translate('justification')}}:</span>

          </div>
          <div class="col-9">
            <span class="custom-details"> {{previousExperience?.justification}}</span>

          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div *ngIf="section?.body?.details?.previousExperienceSegment && section?.body?.details?.previousExperienceSegment?.previousExperience &&
section?.body?.details?.previousExperienceSegment?.previousExperience?.length >= 0"
    style="position: relative;top: 11px;text-align: end;">
    <button class="btn-primary tableButtonPad px-5 m-3" id="itemDetails" data-backdrop="static" data-keyboard="false"
      (click)="openPopUp('previousExperience')" data-toggle="modal" data-target="#previousExperience">

      <span class="d-flex align-items-center">
        <span class="mx-2 mb-2">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="33" viewBox="0 0 18 33">
            <text id="_" data-name="+" transform="translate(0 27)" fill="#fff" font-size="25"
              font-family="SegoeUI, Segoe UI">
              <tspan x="0" y="0">+</tspan>
            </text>
          </svg></span>
        <span> {{i18n.translate('addNewExp')}}</span>
      </span>
    </button>
  </div>

</mat-expansion-panel>

<div class="row">
  <div class="modal fade" id="previousExperience" tabindex="-1" role="dialog" aria-labelledby="previousExperienceLabel"
    aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header d-flex justify-content-between">
          <div class="row">
            <h4 class="center modal-title orgchart">{{popupLabel}}</h4>
          </div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" (click)="close()">
              <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 35 35">
                <g id="Group_16490" data-name="Group 16490" transform="translate(-724.833 -20)">
                  <rect id="Rectangle_2209" data-name="Rectangle 2209" width="35" height="35"
                    transform="translate(724.833 20)" fill="#f3f3f1" />
                  <path id="Icon_ionic-ios-close" data-name="Icon ionic-ios-close"
                    d="M21.179,19.285l5.713-5.713A1.339,1.339,0,0,0,25,11.678l-5.713,5.713-5.713-5.713a1.339,1.339,0,1,0-1.893,1.893l5.713,5.713L11.679,25a1.339,1.339,0,0,0,1.893,1.893l5.713-5.713L25,26.892A1.339,1.339,0,1,0,26.892,25Z"
                    transform="translate(723.496 18.711)" />
                </g>
              </svg>
            </span>
          </button>

        </div>
        <div class="modal-body">
          <app-previous-experience-popup-details [section]="section" [lov]="lov">
          </app-previous-experience-popup-details>
        </div>
        <div class="modal-footer d-flex justify-content-center" *ngIf="type !='termsAndConditions'">

          <button class="btn-secondary" data-dismiss="modal" aria-label="Close"
            *ngIf="(this.previousExperienceType !='editpreviousExperience')" (click)="close()">Discard</button>
          <button class="btn-secondary mx-3" data-dismiss="modal" aria-label="Close" [disabled]="!formisvalid()"
            (click)="update()">Update</button>

        </div>
      </div>
    </div>
  </div>
</div>
