<div class="panel-body">


      <div class="row" style="margin-left: -13px;">
        <div class="col-6">
          <app-select [field]="data?.educationLevel" name="educationLevel"
        [labelTextReadMode]="i18n.translate('educationLevel')" [labelTextWriteMode]="i18n.translate('educationLevel')"
        [hasColumnBreak]="false" [lov]="lov?.educationLevel" [required]="true" [isReadOnly]="section?.header?.readOnly"
        (selectedElement)="onSelectChange('educationLevel', data , $event)">
      </app-select>
    
        </div>
        <div class="col-6">
          <app-select [field]="data?.universityInstitute" name="universityInstitute"
          [labelTextReadMode]="i18n.translate('universityInstitute')"
          [labelTextWriteMode]="i18n.translate('universityInstitute')" [hasColumnBreak]="false"
          [lov]="lov?.universityInstitute" [required]="true" [isReadOnly]="section?.header?.readOnly"
          (selectedElement)="onSelectChange('universityInstitute',data , $event)">
        </app-select>
        </div>
      </div>

       <div class="mt-4 row">
        <div class="col-6">
          <app-select [field]="data?.country" name="country" [disabled]="true"
          [labelTextReadMode]="i18n.translate('country')" [labelTextWriteMode]="i18n.translate('country')"
          [hasColumnBreak]="false" [lov]="lov?.country" [required]="true" [isReadOnly]="section?.header?.readOnly"
          (selectedElement)="onSelectChange('country',data , $event)">
        </app-select>
        </div>

       <div class="col-6">
        <app-select [field]="data?.city" name="city" [labelTextReadMode]="i18n.translate('city')" [disabled]="true"
        [labelTextWriteMode]="i18n.translate('city')" [hasColumnBreak]="false" [lov]="lov?.qualificationCity"
        [required]="true" [isReadOnly]="section?.header?.readOnly"
        (selectedElement)="onSelectChange('city',data , $event)">
      </app-select>
       </div>
       </div>

       <div class="row">
          <div class="col-6">
            <app-select [field]="data?.major"
            [disabled]="(data?.educationLevel?.key == '5' ||  data?.educationLevel?.key == '8' || data?.educationLevel?.key == '9')"
            name="major" [labelTextReadMode]="i18n.translate('major')" [labelTextWriteMode]="i18n.translate('major')"
            [hasColumnBreak]="false" [lov]="lov?.major" [required]="true" [isReadOnly]="section?.header?.readOnly"
            (selectedElement)="onSelectChange('major',data , $event)">
          </app-select>
          </div>
          <div class="col-6">
            <app-select name="subMajor" [field]="data?.subMajor"
            [disabled]="(data?.educationLevel?.key == '5'  ||  data?.educationLevel?.key == '8' || data?.educationLevel?.key == '9')"
            [labelTextReadMode]="i18n.translate('subMajor')" [labelTextWriteMode]="i18n.translate('subMajor')"
            [hasColumnBreak]="false" [lov]="lov?.subMajor" [required]="true" [isReadOnly]="section?.header?.readOnly"
            (selectedElement)="onSelectChange('subMajor',data , $event)">
          </app-select>
          </div>
       </div>
     

    

    <div class="mt-4 mx-4">
        <app-datepicker [field]="data?.startDate" name="startDate" [labelTextReadMode]="i18n.translate('startDate')"
        [labelTextWriteMode]="i18n.translate('startDate')" [hasColumnBreak]="false" [required]="true"
        (dateValue)="handleDateSelected(data , 'startDate' , $event)" [isReadOnly]="section?.header?.readOnly">
      </app-datepicker>
        <app-datepicker [field]="data?.graduatedDate" name="graduatedDate"
        [labelTextReadMode]="i18n.translate('graduatedDate')" [labelTextWriteMode]="i18n.translate('graduatedDate')"
        [hasColumnBreak]="false" [required]="true" (dateValue)="handleDateSelected(data , 'graduatedDate' , $event)"
        [isReadOnly]="section?.header?.readOnly">
      </app-datepicker>
    </div>

      <div class="row">
       <div class="col-6">
        <app-select [field]="data?.scale" name="scale" [labelTextReadMode]="i18n.translate('scale')"
        [labelTextWriteMode]="i18n.translate('scale')" [hasColumnBreak]="false" [lov]="lov?.scale" [required]="true"
        [isReadOnly]="section?.header?.readOnly" (selectedElement)="onSelectChange('scale',data , $event)">
      </app-select>
       </div>

       <div class="col-6 mt-4">
        <app-input [field]="data?.gpa" name="gpa" [labelTextReadMode]="i18n.translate('gpa')"
        [labelTextWriteMode]="i18n.translate('gpa')" [hasColumnBreak]="false" [required]="true"
        [disabled]="(data?.scale?.key == 'STC_QUALIFICATION_GPA_TYPE_PAS'  ||  data?.scale?.key == null)"
        [isReadOnly]="section?.header?.readOnly" (enteredData)="handleTextInput('gpa', data , $event)">
      </app-input>
       </div>
      </div>



    <div class="mt-4" [hidden]="hidenationalAttch('certificate' , data)">
      <app-attachment [field]="data?.certificate" name="certificate" [hasColumnBreak]="true" [required]="true"
        [labelTextReadMode]="i18n.translate('certificate')" [labelTextWriteMode]="i18n.translate('certificate')"
        [isReadOnly]="section?.header?.readOnly" (AttachmentValue)="handleAttachment('certificate', data, $event)">
      </app-attachment>
    </div>

    <div class="mt-4 row">
      <div class="col-6">
        <app-input [field]="data?.evaluationNo" name="evaluationNo" [labelTextReadMode]="i18n.translate('evaluationNo')"
        [labelTextWriteMode]="i18n.translate('evaluationNo')" [hasColumnBreak]="false" [required]="true" numberOnly
        [disabled]="(section?.body?.details?.personalProfile?.nationality?.key == '001'  && data?.country.key !== 'SA' ) == false"
        [isReadOnly]="section?.header?.readOnly" (enteredData)="handleTextInput('evaluationNo', data , $event)">
      </app-input>
      </div>
      <div class="col-6">
        <app-datepicker [field]="data?.evaluationDate"
        [disabled]="(section?.body?.details?.personalProfile?.nationality?.key == '001'  && data?.country.key !== 'SA' ) == false"
        name="evaluationDate" [labelTextReadMode]="i18n.translate('evaluationDate')"
        [labelTextWriteMode]="i18n.translate('evaluationDate')" [hasColumnBreak]="false" [required]="true"
        (dateValue)="handleDateSelected(data , 'evaluationDate' , $event)" [isReadOnly]="section?.header?.readOnly">
      </app-datepicker>
      </div>
    </div>

    <div class="mt-4" [hidden]="hidenationalAttch('evaluationCertificate' , data)">
      <app-attachment [field]="data?.evaluationCertificate"
        [labelTextReadMode]="i18n.translate('evaluationCertificate')"
        [labelTextWriteMode]="i18n.translate('evaluationCertificate')"
        [disabled]="(section?.body?.details?.personalProfile?.nationality?.key == '001'  && data?.country.key !== 'SA' ) == false"
        name="evaluationCertificate" [hasColumnBreak]="true" [required]="true" [isReadOnly]="section?.header?.readOnly"
        (AttachmentValue)="handleAttachment('evaluationCertificate', data, $event)">
      </app-attachment>
    </div>

      <app-textarea name="note" style="width: 100%;" [labelTextReadMode]="i18n.translate('note')"
        [labelTextWriteMode]="i18n.translate('note')" [field]="data?.note" [hasColumnBreak]="true" [required]="false"
        [minLength]='15' [maxlength]='1000' [isReadOnly]="section?.header?.readOnly"
        (enteredData)="handleTextInput('note', data , $event)" [errorMessage]="i18n.translate('lenghtMin15Max1000')">
      </app-textarea>
    
      <app-textarea name="justification" [labelTextReadMode]="i18n.translate('justification')"
        [labelTextWriteMode]="i18n.translate('justification')" [field]="data?.justification" [hasColumnBreak]="true"
        [required]="false" [minLength]='15' [maxlength]='1000' [isReadOnly]="section?.header?.readOnly"
        (enteredData)="handleTextInput('justification', data , $event)"
        [errorMessage]="i18n.translate('lenghtMin15Max1000')">
      </app-textarea>


</div>