<div class="panel-body">

     <div>
       
      <app-select [field]="data?.documentType" name="documentType" [labelTextReadMode]="i18n.translate('documentType')"
      [labelTextWriteMode]="i18n.translate('documentType')" [hasColumnBreak]="true" [lov]="lov?.documentType"
      [required]="true" [isReadOnly]="section?.header?.readOnly"
      (selectedElement)="onSelectChange('documentType',data, $event)">
    </app-select>
     </div>

    <div class="mt-4">
      <app-input [field]="data?.documentNumber" name="documentNumber"
        [labelTextReadMode]="i18n.translate('documentNumber')" [labelTextWriteMode]="i18n.translate('documentNumber')"
        [hasColumnBreak]="true" [required]="true" [isReadOnly]="section?.header?.readOnly"
        (enteredData)="handleTextInput('documentNumber', data , $event)">
      </app-input>
    </div>

    <div *ngIf="data?.documentType?.key != 'SAUDI_ID' && data?.documentType?.key != 'IQAMA'">
      <app-select [field]="data?.issuePlace" name="issuePlace" [labelTextReadMode]="i18n.translate('issuePlace')"
        [labelTextWriteMode]="i18n.translate('issuePlace')" [hasColumnBreak]="true" [lov]="lov?.issuePlace"
        [required]="true" [isReadOnly]="section?.header?.readOnly"
        (selectedElement)="onSelectChange('issuePlace',data, $event)">
      </app-select>
     
    </div>

    <div class="mt-4">
      <app-datepicker [field]="data?.issueDate" name="issueDate" [labelTextReadMode]="i18n.translate('issueDate')"
      [labelTextWriteMode]="i18n.translate('issueDate')" [hasColumnBreak]="true"
      (dateValue)="handleDateSelected(data , 'issueDate' , $event)" [required]="false"
      [isReadOnly]="section?.header?.readOnly">
    </app-datepicker>
    </div>

    <div class="mt-4">
      <app-datepicker [field]="data?.expiryDate" name="expiryDate" [labelTextReadMode]="i18n.translate('expiryDate')"
        [labelTextWriteMode]="i18n.translate('expiryDate')" [hasColumnBreak]="true"
        (dateValue)="handleDateSelected(data , 'expiryDate' , $event)" [required]="false"
        [isReadOnly]="section?.header?.readOnly">
      </app-datepicker>
    </div>

    <div class="mt-4">
      <app-input [field]="data?.profession" name="profession" [labelTextReadMode]="i18n.translate('profession')"
        [labelTextWriteMode]="i18n.translate('profession')" [hasColumnBreak]="false" [required]="true"
        [isReadOnly]="section?.header?.readOnly" (enteredData)="handleTextInput('profession', data , $event)">
      </app-input>
     
    </div>

    <div class="mt-4">
      <app-input [field]="data?.version" name="version" [labelTextReadMode]="i18n.translate('version')"
      [labelTextWriteMode]="i18n.translate('version')" [hasColumnBreak]="false" [required]="true"
      [isReadOnly]="section?.header?.readOnly" (enteredData)="handleTextInput('version', data , $event)">
    </app-input>
    </div>

    <div class="mt-4">
      <app-attachment [field]="data?.attachment" name="attachment" [hasColumnBreak]="true" [required]="true"
      [labelTextReadMode]="i18n.translate('attachment')"
        [labelTextWriteMode]="i18n.translate('attachment')"
        [isReadOnly]="section?.header?.readOnly" (AttachmentValue)="handleAttachment('attachment', data, $event)">
      </app-attachment>
    </div>



</div>