<mat-expansion-panel [expanded]="false" [disabled]="section.body.details.source =='HRMS' || isReadOnly"
  (opened)="getSegmentDetails('organizationalProfile' , true)" class="margTop">
  <mat-expansion-panel-header>
    <mat-panel-title>

      <div class="d-flex align-items-center">
        <span>
          {{i18n.translate('organizationalProfile')}}
        </span>
        <span class="mx-4">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16.826"
            height="16.826" viewBox="0 0 16.826 16.826">
            <defs>
              <clipPath id="clip-path">
                <path id="Path_9532" data-name="Path 9532"
                  d="M267.413-231a8.413,8.413,0,0,1,8.413,8.413,8.411,8.411,0,0,1-4.506,7.453h0l-.652-1.241a7.009,7.009,0,0,0,3.756-6.211,7.011,7.011,0,0,0-7.011-7.011,7.011,7.011,0,0,0-7.011,7.011,7.012,7.012,0,0,0,6.31,6.976h0v-5.574h1.4v7.011h-.7A8.413,8.413,0,0,1,259-222.587,8.413,8.413,0,0,1,267.413-231Zm1.052,5.609v2.1h-2.1v-2.1Z"
                  fill="#fff" clip-rule="evenodd" />
              </clipPath>
              <clipPath id="clip-path-2">
                <path id="Path_9531" data-name="Path 9531" d="M259-214.174h16.826V-231H259Z"
                  transform="translate(-259 231)" fill="#000" />
              </clipPath>
            </defs>
            <g id="Group_10531" data-name="Group 10531" transform="translate(-259 231)" clip-path="url(#clip-path)">
              <g id="Group_10530" data-name="Group 10530" transform="translate(259 -231)" clip-path="url(#clip-path-2)">
                <path id="Path_9530" data-name="Path 9530" d="M254-236h20.833v20.833H254Z"
                  transform="translate(-256.003 233.997)" fill="#000" />
              </g>
            </g>
          </svg>
        </span>
      </div>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div class="collapse-row">
    <app-select [field]="section?.body?.details?.organizationalProfile?.organization" name="organization"
      [labelTextReadMode]="i18n.translate('organization')" [labelTextWriteMode]="i18n.translate('organization')"
      [hasColumnBreak]="false" [lov]="lov?.organization" [required]="true" [isReadOnly]="true" [hasLabel]="true"
      class="w-100">
    </app-select>
  </div>
  <div class="collapse-row">
    <app-select [field]="section?.body?.details?.organizationalProfile?.position" name="position"
      [labelTextReadMode]="i18n.translate('position')" [labelTextWriteMode]="i18n.translate('position')"
      [hasColumnBreak]="false" [lov]="lov?.position" [required]="true" [isReadOnly]="true" [hasLabel]="true"
      class="w-100">
    </app-select>
  </div>
  <div class="collapse-row">
    <app-select [field]="section?.body?.details?.organizationalProfile?.status" name="status"
      [labelTextReadMode]="i18n.translate('status')" [labelTextWriteMode]="i18n.translate('status')"
      [hasColumnBreak]="false" [lov]="lov?.status" [required]="true" [isReadOnly]="true" [hasLabel]="true"
      class="w-100">
    </app-select>
  </div>

  <div class="collapse-row">
    <app-select [field]="section?.body?.details?.organizationalProfile?.job" name="job"
      [labelTextReadMode]="i18n.translate('job')" [labelTextWriteMode]="i18n.translate('job')" [hasColumnBreak]="false"
      [lov]="lov?.job" [required]="true" [isReadOnly]="true" [hasLabel]="true" class="w-100">
    </app-select>
  </div>

  <div class="collapse-row">
    <app-input [field]="section?.body?.details?.organizationalProfile?.grade" name="grade"
      [labelTextReadMode]="i18n.translate('grade')" [labelTextWriteMode]="i18n.translate('grade')"
      [hasColumnBreak]="false" [required]="true" [isReadOnly]="true" [hasLabel]="true" class="w-100">
    </app-input>
  </div>
  <div class="collapse-row">
    <app-datepicker [field]="section?.body?.details?.organizationalProfile?.hireDate" name="hireDate"
      [labelTextReadMode]="i18n.translate('hireDate')" [labelTextWriteMode]="i18n.translate('hireDate')"
      [hasColumnBreak]="false" [required]="true" [isReadOnly]="true" [hasLabel]="true" class="w-100">
    </app-datepicker>
  </div>
</mat-expansion-panel>
