<div class="panel-body" [hidden]="data?.minimize">

    <div class="col-12">
      <app-select [field]="data?.title" name="title" [labelTextReadMode]="i18n.translate('title')"
      [labelTextWriteMode]="i18n.translate('title')" [hasColumnBreak]="true" [lov]="lov?.title" [required]="true"
      [isReadOnly]="section?.header?.readOnly" (selectedElement)="onSelectChange('title', data ,  $event)">
    </app-select>
    </div>
  


    <div class="row mt-4">
      <div class="col-6">
        <app-input [field]="data?.firstNameEn" name="firstNameEn" [labelTextReadMode]="i18n.translate('firstNameEn')"
      [labelTextWriteMode]="i18n.translate('firstNameEn')" [hasColumnBreak]="false" enOnly
      (enteredData)="handleTextInput('firstNameEn', data , $event)" [required]="true"
      [isReadOnly]="section?.header?.readOnly" [disabled]="checkIfImportFromElmFamilyProfile(data)">
    </app-input>
    <span *ngIf="checkIfImportFromElmFamilyProfile(data)" style="color: #da3f7b;font-size: small;">
      {{i18n.translate('Verified')}}</span>
      </div>
 

    <div class="col-6">
      <app-input [field]="data?.firstNameAr" name="firstNameAr" [labelTextReadMode]="i18n.translate('firstNameAr')"
      [labelTextWriteMode]="i18n.translate('firstNameAr')" [hasColumnBreak]="false" arOnly
      (enteredData)="handleTextInput('firstNameAr', data , $event)" [required]="true"
      [isReadOnly]="section?.header?.readOnly" [disabled]="checkIfImportFromElmFamilyProfile(data)">
    </app-input>
    <span *ngIf="checkIfImportFromElmFamilyProfile(data)" style="color: #da3f7b;font-size: small;">
      {{i18n.translate('Verified')}}</span>
    </div>
    </div>
   

  <div class="row mt-4">
    <div class="col-6">
      <app-input [field]="data?.fatherNameEn" name="fatherNameEn" [labelTextReadMode]="i18n.translate('fatherNameEn')"
      [labelTextWriteMode]="i18n.translate('fatherNameEn')" [hasColumnBreak]="false" enOnly
      (enteredData)="handleTextInput('fatherNameEn', data , $event)" [required]="true"
      [isReadOnly]="section?.header?.readOnly" [disabled]="checkIfImportFromElmFamilyProfile(data)">
    </app-input>
    <span *ngIf="checkIfImportFromElmFamilyProfile(data)" style="color: #da3f7b;font-size: small;">
      {{i18n.translate('Verified')}}</span>
    </div>
   

    <div class="col-6">
      <app-input [field]="data?.fatherNameAr" name="fatherNameAr" [labelTextReadMode]="i18n.translate('fatherNameAr')"
      [labelTextWriteMode]="i18n.translate('fatherNameAr')" [hasColumnBreak]="false" arOnly
      (enteredData)="handleTextInput('fatherNameAr', data , $event)" [required]="true"
      [isReadOnly]="section?.header?.readOnly" [disabled]="checkIfImportFromElmFamilyProfile(data)">
    </app-input>
    <span *ngIf="checkIfImportFromElmFamilyProfile(data)" style="color: #da3f7b;font-size: small;">
      {{i18n.translate('Verified')}}</span>
    </div>
  </div>


  <div class="row mt-4">
    <div class="col-6">
      <app-input [field]="data?.grandFatherNameEn" name="grandFatherNameEn"
      [labelTextReadMode]="i18n.translate('grandFatherNameEn')"
      [labelTextWriteMode]="i18n.translate('grandFatherNameEn')" [hasColumnBreak]="false" enOnly
      (enteredData)="handleTextInput('grandFatherNameEn', data , $event)" [required]="true"
      [isReadOnly]="section?.header?.readOnly" [disabled]="checkIfImportFromElmFamilyProfile(data)">
    </app-input>
    <span *ngIf="checkIfImportFromElmFamilyProfile(data)" style="color: #da3f7b;font-size: small;">
      {{i18n.translate('Verified')}}</span>
    </div>

   <div class="col-6">
    <app-input [field]="data?.grandFatherNameAr" name="grandFatherNameAr"
    [labelTextReadMode]="i18n.translate('grandFatherNameAr')"
    [labelTextWriteMode]="i18n.translate('grandFatherNameAr')" [hasColumnBreak]="false" arOnly
    (enteredData)="handleTextInput('grandFatherNameAr', data , $event)" [required]="true"
    [isReadOnly]="section?.header?.readOnly" [disabled]="checkIfImportFromElmFamilyProfile(data)">
  </app-input>
  <span *ngIf="checkIfImportFromElmFamilyProfile(data)" style="color: #da3f7b;font-size: small;">
    {{i18n.translate('Verified')}}</span>
   </div>
  </div>


  <div class="row mt-4">
   <div class="col-6">
    <app-input [field]="data?.familyNameEn" name="familyNameEn" [labelTextReadMode]="i18n.translate('familyNameEn')"
    [labelTextWriteMode]="i18n.translate('familyNameEn')" [hasColumnBreak]="false" enOnly
    (enteredData)="handleTextInput('familyNameEn', data , $event)" [required]="true"
    [isReadOnly]="section?.header?.readOnly" [disabled]="checkIfImportFromElmFamilyProfile(data)">
  </app-input>
  <span *ngIf="checkIfImportFromElmFamilyProfile(data)" style="color: #da3f7b;font-size: small;">
    {{i18n.translate('Verified')}}</span>
   </div>

 <div class="col-6">
  <app-input [field]="data?.familyNameAr" name="familyNameAr" [labelTextReadMode]="i18n.translate('familyNameAr')"
  [labelTextWriteMode]="i18n.translate('familyNameAr')" [hasColumnBreak]="false" arOnly
  (enteredData)="handleTextInput('familyNameAr', data , $event)" [required]="true"
  [isReadOnly]="section?.header?.readOnly" [disabled]="checkIfImportFromElmFamilyProfile(data)">
</app-input>
<span *ngIf="checkIfImportFromElmFamilyProfile(data)" style="color: #da3f7b;font-size: small;">
  {{i18n.translate('Verified')}}</span>
 </div>
  </div>


 
      <div class="col-12">
        <app-select [disabled]="checkIfImportFromElmFamilyProfile(data)" [field]="data?.nationality" name="nationality"
      [labelTextReadMode]="i18n.translate('nationality')" [labelTextWriteMode]="i18n.translate('nationality')"
      [hasColumnBreak]="true" [lov]="lov?.nationality" [required]="true" [isReadOnly]="section?.header?.readOnly"
      (selectedElement)="onSelectChange('nationality' , data, $event)">
    </app-select>
      </div>

  <div class="row" *ngIf="(data?.nationality?.key && data?.nationality?.key != '001')">
    <app-checkbox [field]="data?.newToSaudi" name="newToSaudi" [labelTextReadMode]="i18n.translate('newToSaudi')"
      [labelTextWriteMode]="i18n.translate('newToSaudi')" [hasColumnBreak]="true" [required]="false"
      [isReadOnly]="section?.header?.readOnly" (checked)="handleCheckboxChange('newToSaudi',data, $event)">
    </app-checkbox>
  </div>

  <div class="col-12">
    <app-input *ngIf="data?.newToSaudi == 'true'" [labelTextReadMode]="i18n.translate('borderBirthNumber')"
      [labelTextWriteMode]="i18n.translate('borderBirthNumber')" [hasColumnBreak]="true"
      (enteredData)="handleTextInput('borderBirthNumber', data , $event)" [required]="true"
      [disabled]="checkIfImportFromElmFamilyProfile(data)" [isReadOnly]="section?.header?.readOnly">
    </app-input>
  </div>

    <div class="col-12">
      <app-select [field]="data?.maritalStatus" name="maritalStatus" [labelTextReadMode]="i18n.translate('maritalStatus')"
      [labelTextWriteMode]="i18n.translate('maritalStatus')" [hasColumnBreak]="true" [lov]="lov?.maritalStatus"
      [required]="true" [isReadOnly]="section?.header?.readOnly"
      (selectedElement)="onSelectChange('maritalStatus' , data, $event)">
    </app-select>
    </div>


  <div *ngIf="data?.nationality?.key != null" class="mx-2 mt-4">
    <app-input [field]="data?.idNumber" name="idNumber" [labelTextReadMode]="i18n.translate('idNumber')"
      [maxlength]="getMaxLenthFromNationality(data?.nationality?.key, data)"
      [labelTextWriteMode]="i18n.translate('idNumber')" [hasColumnBreak]="true"
      (enteredData)="handleTextInput('idNumber', data , $event)" numberOnly [required]="true"
      [isReadOnly]="section?.header?.readOnly">
    </app-input>
  </div>



  <div class="row mt-4">
      <div class="col-6">
        <app-datepicker-birth name="birthDate" [field]="data?.birthDate"
        [labelTextReadMode]="i18n.translate('birthDate')" (dateValue)="ageFromDateOfBirthday($event , data)"
        [labelTextWriteMode]="i18n.translate('birthDate')" [hasColumnBreak]="false" [required]="false"
        [isReadOnly]="section?.header?.readOnly">
      </app-datepicker-birth>
      </div>
    <!-- </div>
  <div class="row"> -->
    <div class="col-6">
      <app-input name="age" [field]="data?.age" [labelTextReadMode]="i18n.translate('age')"
      [labelTextWriteMode]="i18n.translate('age')" [hasColumnBreak]="false"
      (enteredData)="handleTextInput('age', data , $event)" [disabled]="true" [required]="true"
      [isReadOnly]="section?.header?.readOnly">
    </app-input>
    </div>
  </div>

   <div class="col-12">
    <app-select [field]="data?.disabilityFlag" name="disabilityFlag"
    [labelTextReadMode]="i18n.translate('disabilityFlag')" [labelTextWriteMode]="i18n.translate('disabilityFlag')"
    [hasColumnBreak]="true" [lov]="lov?.yesNo" [required]="true" [isReadOnly]="section?.header?.readOnly"
    (selectedElement)="onSelectChange('disabilityFlag', data, $event)">
  </app-select>
   </div>
 

  <!-- <div class="mt-4">
    <mat-slide-toggle></mat-slide-toggle>
  </div>

  <div class="mt-4">
    <div class="mb-3">
      <span class="popup-lable">Text</span>
    </div>
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
      <mat-button-toggle value="value1">Value1</mat-button-toggle>
      <mat-button-toggle value="value2">Value2</mat-button-toggle>
    </mat-button-toggle-group>
  </div> -->


  <div *ngIf="data?.disabilityFlag?.key == 'Y'">
    <app-select [field]="data?.disabilityType" name="disabilityType"
      [labelTextReadMode]="i18n.translate('disabilityType')" [labelTextWriteMode]="i18n.translate('disabilityType')"
      [hasColumnBreak]="true" [lov]="lov?.disabilityType" [required]="true" [isReadOnly]="section?.header?.readOnly"
      (selectedElement)="onSelectChange('disabilityType', data, $event)">
    </app-select>

  </div>

   <div class="col-12">
    <app-select [disabled]="checkIfImportFromElmFamilyProfile(data)" [field]="data?.gender" name="gender"
    [labelTextReadMode]="i18n.translate('gender')" [labelTextWriteMode]="i18n.translate('gender')"
    [hasColumnBreak]="false" [lov]="lov?.gender" [required]="true" [isReadOnly]="section?.header?.readOnly"
    (selectedElement)="onSelectChange('gender', data, $event)">
  </app-select>
   </div>
    <!-- </div>
  <div class="row"> -->
    <div class="col-12">
      <app-select [field]="data?.relationship" name="relationship" [labelTextReadMode]="i18n.translate('relationship')"
      [labelTextWriteMode]="i18n.translate('relationship')" [hasColumnBreak]="false" [lov]="lov?.relationship"
      [required]="true" [isReadOnly]="section?.header?.readOnly"
      (selectedElement)="onSelectChange('relationship', data, $event)">
    </app-select>
    </div>

    <div class="col-12">
      <app-select [field]="data?.chronicDisease" name="chronicDisease"
      [labelTextReadMode]="i18n.translate('chronicDisease')" [labelTextWriteMode]="i18n.translate('chronicDisease')"
      [hasColumnBreak]="true" [lov]="lov?.yesNo" [required]="true" [isReadOnly]="section?.header?.readOnly"
      (selectedElement)="onSelectChange('chronicDisease', data, $event)">
    </app-select>
    </div>
  <div  *ngIf="data?.chronicDisease?.key == 'Y'" class="mx-2">
    <app-select [field]="data?.chronicDiseaseType" name="chronicDiseaseType"
      [labelTextReadMode]="i18n.translate('chronicDiseaseType')"
      [labelTextWriteMode]="i18n.translate('chronicDiseaseType')" [hasColumnBreak]="true" [lov]="lov?.chronicDisease"
      [required]="true" [isReadOnly]="section?.header?.readOnly"
      (selectedElement)="onSelectChange('chronicDiseaseType', data, $event)">
    </app-select>
  </div>

    <div class="col-12">
      <app-select [field]="data?.working" name="working" [labelTextReadMode]="i18n.translate('working')"
      [labelTextWriteMode]="i18n.translate('working')" [hasColumnBreak]="false" [lov]="lov?.yesNo" [required]="true"
      [isReadOnly]="section?.header?.readOnly" (selectedElement)="onSelectChange('working', data, $event)">
    </app-select>
    </div>
   
    <div class="col-12">
      <app-select [field]="data?.noNeedMedical" name="noNeedMedical" [labelTextReadMode]="i18n.translate('noNeedMedical')"
      [labelTextWriteMode]="i18n.translate('noNeedMedical')" [hasColumnBreak]="false" [lov]="lov?.yesNo"
      [required]="true" [isReadOnly]="section?.header?.readOnly"
      (selectedElement)="onSelectChange('noNeedMedical', data, $event)">
    </app-select>
    </div>

  <div  *ngIf="data?.newToSaudi == 'true'">
    <app-attachment [small]="true" [field]="data?.passportOrBirthAttachment" name="passportOrBirthAttachment"
      [labelTextReadMode]="i18n.translate('passportOrBirthAttachment')"
      [labelTextWriteMode]="i18n.translate('passportOrBirthAttachment')" [hasColumnBreak]="true" [required]="false"
      [isReadOnly]="section?.header?.readOnly"
      (AttachmentValue)="handleAttachment('passportOrBirthAttachment', data, $event)">
    </app-attachment>
  </div>

  <div class="col-12">
    <app-select [field]="data?.justification" name="justification" [labelTextReadMode]="i18n.translate('justification')"
    [labelTextWriteMode]="i18n.translate('justification')" [hasColumnBreak]="true" [lov]="lov?.updateJustification"
    [required]="true" [isReadOnly]="section?.header?.readOnly"
    (selectedElement)="onSelectChange('justification', data, $event)">
  </app-select>
  </div>

  <div *ngIf="data?.justification?.key == 'DE' || data?.justification?.key == 'DV'">
    <app-attachment [field]="data?.supportDoc" name="supportDoc" [labelTextReadMode]="i18n.translate('supportDoc')"
      [labelTextWriteMode]="i18n.translate('supportDoc')" [hasColumnBreak]="true" [required]="false"
      [isReadOnly]="section?.header?.readOnly" (AttachmentValue)="handleAttachment('supportDoc', data, $event)">
    </app-attachment>
  </div>
  <div *ngIf="data?.action == 'ADD' && data?.justification?.key && data?.justification?.key != null ">
    <app-textarea [field]="data?.coverageNote" name="coverageNote" [labelTextReadMode]="i18n.translate('coverageNote')"
      [labelTextWriteMode]="i18n.translate('coverageNote')" [hasColumnBreak]="true" [required]="false" [minLength]='15'
      [maxlength]='1000' [isReadOnly]="section?.header?.readOnly" [errorMessage]="i18n.translate('lenghtMin15Max1000')">
    </app-textarea>
  </div>
    <app-attachment [field]="data?.idAttachment" name="idAttachment"
      [labelTextReadMode]="i18n.translate('idAttachment')" [labelTextWriteMode]="i18n.translate('idAttachment')"
      [hasColumnBreak]="true" [required]="true" [isReadOnly]="section?.header?.readOnly"
      (AttachmentValue)="handleAttachment('idAttachment', data, $event)">
    </app-attachment>

    <app-attachment [field]="data?.familyCard" name="familyCard" [labelTextReadMode]="i18n.translate('familyCard')"
      [labelTextWriteMode]="i18n.translate('familyCard')" [hasColumnBreak]="true" [required]="true"
      [isReadOnly]="section?.header?.readOnly" (AttachmentValue)="handleAttachment('familyCard', data, $event)">
    </app-attachment>

    <div class="col-12">
      <app-textarea [field]="data?.note" name="note" [labelTextReadMode]="i18n.translate('note')"
      [labelTextWriteMode]="i18n.translate('note')" [hasColumnBreak]="true" [required]="true" [minLength]='15'
      [maxlength]='1000' [isReadOnly]="section?.header?.readOnly" (enteredData)="handleTextInput('note', data , $event)"
      [errorMessage]="i18n.translate('lenghtMin15Max1000')">
    </app-textarea>
    
    </div>
</div>